<div class="container">
    <h1 class="">APPCTAS
      <small>login</small>
    </h1>
    <form (ngSubmit)="login()" #forma="ngForm" novalidate="">

      <div class="form-group" [ngClass]="{'form-danger': (correo.errors?.required || correo.errors?.pattern) && correo.touched}">
        <label class="label-f" for="corre">Correo</label>
        <input class="input-f" 
               type="email"
               placeholder="correo electronico" 
               [(ngModel)]="usuario.correo"
               name="correo"
               pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
               required
               #correo="ngModel">
        <div class="message">
          <span class="ms-alert" *ngIf="correo.errors?.required && correo.touched">
            Este campo es requerido
          </span>
          <span class="ms-alert" *ngIf="correo.errors?.pattern">
            El campo no tiene formato de correcto
          </span>
        </div>
      </div>

        <div class="form-group" [ngClass]="{'form-danger': (password.errors?.required && password.touched)}">
        <label class="label-f" for="password">password</label>
        <input class="input-f" 
               type="password"
               placeholder="password"
               [(ngModel)]="usuario.password"
               name="password"
               required
               #password="ngModel">        
         <div class="message">
            <span class="ms-alert" *ngIf="password.errors?.required && password.touched">
              Este campo es requerido
            </span>
         </div>
      </div>

      <div class="form-group">
        <button class="button-f" type="submit" [disabled]="!forma.valid">Login</button>
      </div>
    </form>
</div>